body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    color: #333;
    margin-top: 25px;
}

#game-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    border: 2px solid #333;
    margin: 20px;
    position: relative;
}



#game-rules {
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    text-align: left;
}


#enter-button {
    background-color: #3c423c;
    color: white;
    border: 5px solid;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}


#restart-button {
    background-color: #3c423c;
    color: white;
    border: 5px solid;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}


#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#word-display {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#feedback {
    font-size: 18px;
    color: #0077b6;
}


#question1 {
    font-size: 25px;
    margin: 10px;
    color: #7a6262;
}


#game-rules {
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    text-align: left;
}

#game-rules h2 {
    font-size: 20px;
    color: #333;
}

#game-rules p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}
